<button class="vzbp-button {{#if iconbig}}vzbp-button-bigger{{/if}}"
{{#if id}}id="{{id}}"{{/if}} 
href="{{href}}" target="blank"
{{#if href}}onclick="openLink('{{href}}')"{{/if}} 
{{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}>
{{#if icon}}
	<i class="fa fa-{{icon}} {{#if iconrotate}}fa-rotate-{{iconrotate}}{{/if}}"></i>
{{/if}}
{{#if text}} {{text}}{{/if}}
</button>