---
control_buttons: { play: true, languages: ["en", "se"] }
control_state: true
control_sizes: true
control_buttons: {play: true, language: true}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    {{#if redirect}}
      <meta http-equiv="refresh" content="0; url={{redirect}}.html" />
    {{/if}}

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <title>Vizabi - {{ title }}</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    {{!-- Styles --}}
    <link rel="stylesheet" href="{{assets}}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{assets}}css/main.css">
    <link rel="stylesheet" href="../dist/vizabi.css">
  </head>
  <body>
    {{!-- Navigation --}}
    {{> nav }}

    <div id="vzbp-main">
      <div id="vzbp-placeholder" class="vzbp-viewer"></div>
    </div>

    <div id="vzbp-sidebar">
      {{> sidebar }}

      {{#if tool}}
        <script>

          var TITLE = "{{title}}";
          var TOOL = "{{tool}}";
          var DESCRIPTION = "{{description}}";

          VIZABI_OPTIONS = {
            state: {},
            bind: {
              "ready": function(evt, vals) {
                updateURL();
                updateStateEditor(VIZ.getOptions().state);
              }
            },
            ui: {
              buttons: {{{chart_buttons}}}
            }
          };

          (function() {

          VIZABI_OPTIONS.bind['change:state'] = function(evt, vals) {

            //TODO: improve when to update
            //only update in these cases
            if(evt === "change:state:entities:select"
              || evt === "change:state:time:playing"
              || (evt === "change:state:time:value" && !vals.state.time.playing)
              || evt.indexOf("change:state:marker") !== -1) {
              updateURL();
            }

            {{#if control_state}}
              updateStateEditor(VIZ.getOptions().state);
            {{/if}}

          };

          {{#if control_buttons.play}}
              var playButton = document.getElementById("vzbp-btn-play");
              var playButtonIcon = playButton.querySelectorAll("i")[0];

              VIZABI_OPTIONS.bind['change:state:time'] = function(evt, vals) {
                if (vals.state.time.playing) {
                    playButton.onclick = pause;
                    playButton.setAttribute("data-tooltip", "Pause");
                    removeClass(playButtonIcon, 'fa-play');
                    addClass(playButtonIcon, 'fa-pause');
                } else {
                    playButton.onclick = play;
                    playButton.setAttribute("data-tooltip", "Play");
                    removeClass(playButtonIcon, 'fa-pause');
                    addClass(playButtonIcon, 'fa-play');
                }
              };
          {{/if}}
          {{#if control_buttons.language}}  
              var langButton = document.getElementById("vzbp-btn-lang");

              VIZABI_OPTIONS.bind['change:language'] = function(evt, vals) {
                if (vals.language.id === "en") {
                    langButton.onclick = function() { language('se'); };
                    langButton.setAttribute("data-tooltip", "Set Lang: SE");
                } else {
                    langButton.onclick = function() { language('en'); };
                    langButton.setAttribute("data-tooltip", "Set Lang: EN");
                }
              };
          {{/if}}
          })();

        </script>
      {{/if}}

      <div id="other-sect" class="collapsible-section">
        <h2 class="vzbp-subtitle vzbp-collapsible-title">Other</h2>
        <div class="vzbp-collapsible">
            {{!-- Additional scripts and buttons will be added here --}}
            {{> body }}
        </div>
      </div>

      <hr class="vzbp-hr"/>
    
    </div>


    <script src="{{assets}}js/d3.min.js"></script>
    <script src="../dist/vizabi.js"></script>

    {{!-- Scripts --}}

    {{> state_editor }}

    <script src="{{assets}}js/_utils.js"></script>
    <script src="{{assets}}js/_collapsible.js"></script>
    <script src="{{assets}}js/_url.js"></script>
    <script src="{{assets}}js/_codepen.js"></script>
    <script src="{{assets}}js/main.js"></script>

    {{!-- Add these scripts only if needed --}}
    {{#if control_state}}
      <script src="{{assets}}js/_state-editor.js"></script>
    {{/if}}

    {{#if control_sizes}}
      <script src="{{assets}}js/_size-div.js"></script>
    {{/if}}

    {{#if control_buttons}}
      <script src="{{assets}}js/_interaction.js"></script>
    {{/if}}

    <script src="{{assets}}js/_dropdowns.js"></script>

    {{#if tool}}
      <script>
        parseURL();

        if(!VIZABI_OPTIONS) {
          VIZABI_OPTIONS = { state: {}, language: { id: "en" }}; //fallback
        }
        if(URL.state) VIZABI_OPTIONS.state = URL.state;
        if(URL.lang) VIZABI_OPTIONS.language.id = URL.lang;
        
        VIZ = Vizabi("{{tool}}", placeholder, VIZABI_OPTIONS);

      </script>
    {{/if}}
    
  </body>
</html>