<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vizabi - {{ title }}</title>
    {{!-- Styles --}}
    <link rel="stylesheet" href="{{assets}}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{assets}}css/main.css">
    <link rel="stylesheet" href="{{assets}}css/vizabi.css">
  </head>
  <body class="vzbp-nav-state-editor">
    {{!-- Navigation --}}
    {{> nav }}

    <div id="vzbp-main">
      <div id="vzbp-placeholder" class="vzbp-viewer"></div>
      {{> body }}
    </div>

    {{> sidebar }}

    {{> state_editor }}


    {{!-- Vizabi --}}
    {{#if production}}
      <script src="{{assets}}js/vizabi.js"></script>
    {{else}}
      <script src="{{assets}}js/vizabi.js"></script>
    {{/if}}

    {{!-- jQuery used in preview pages --}}
    <script src="{{assets}}js/jquery.min.js"></script>

    {{!-- Scripts --}}
    <script src="{{assets}}js/_utils.js"></script>
    <script src="{{assets}}js/_size-div.js"></script>
    <script src="{{assets}}js/_collapsible.js"></script>
    <script src="{{assets}}js/_state-editor.js"></script>
    <script src="{{assets}}js/main.js"></script>

    {{#if tool}}
      <script>
        viz = new Vizabi("{{tool}}", placeholder);
      </script>
    {{/if}}
    
  </body>
</html>